#background {
position: relative;
}


/* added*/

body {
    background-image: url(https://media.giphy.com/media/Zuic5hGIA9SrC/giphy.gif);
    background-size: 100%;
}


#footer {
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
      border-top: 10px solid #343a40;
    }


/*top id is carosol*/
#top {
    width: 100%;
}
  
#background {
    position: relative;
}

.jumbotron {
    margin: 100px;
    position: absolute;
}

/*carosol is band pictures*/
/*section 1 id is band summary*/
/*"section1" id is for card*/
/*"section1" id is for card*/
/* section 1 one headline id is id="summary">
/*section 2 id is top hits*/
/*section 2 id="section2"*/
/*header id is topHits*/
/*Section 2 image id topHitsImage*/
/*section 3  is tour cities tour dates*/
/*section 3 id="section3" */
/*section 3 id="tourDatesImage" */
/*section 3 header id="tourDates" */
