#background {
position: relative;
}


/* added*/

body {
    background-image: url(https://media.giphy.com/media/Zuic5hGIA9SrC/giphy.gif);
    background-size: 100%;
}


#footer {
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
      border-top: 10px solid #343a40;

    }


/*top id is carosol*/
#top {
    width: 100%;
}
  
#background {
    position: relative;
}

.jumbotron {
    margin: 20px 80px 10px 80px;
    position: absolute;

}
/*carosol is band pictures*/
#carousel {
    height: 200px;
    width: 200px;
}
#carouselContainer {
    height: 200px;
    width: 200px;
   
}
/*carosol id is "top" band pictures*/
#top {

}
/*carosol logo id="logo" band pictures*/
#logo {

}
/*section 1 id is band summary*/
#section1 {
margin: 20px;
}
/*"section1" id is for card*/
/*"section1" id is for card*/
#section2 {
    margin: 20px;
}
/* section 1 one headline id is id="summary">
/*section 2 id is top hits*/
/*section 2 id="section2"*/
#section2 {
   margin: 20px;
}
/*header id is topHits*/
/*Section 2 image id topHitsImage*/
/*section 3  is tour cities tour dates*/
/*section 3 id="section3" */
#section3 {
    margin: 20px;

}
/*section 3 id="tourDatesImage" */
/*section 3 header id="tourDates" */


/*Media Query*/
@media only screen and (max-width: 850px)  {
body {
        background-image:none;
        background: #343a40;
    }
}

/** Now Playing **/
.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
  .now-playing__artist {
    margin-bottom: 1em;
  }
  .now-playing__status {
    margin-bottom: 1em;
  }
  .now-playing__img {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 45%;
  }
  .now-playing__img img {
    max-width: 80vmin;
    width: 100%;
  }
  .now-playing__side {
    margin-left: 5%;
    width: 45%;
  }
  /** Progress **/
  .progress {
    border: 1px solid #eee;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
  }
  .progress__bar {
    background-color: #eee;
    height: 4px;
  }

#wiki {
    color: black;
    font-size: 15px;
}
/*carosol is band pictures*/
/*carosol id is "top" band pictures*/
/*section 1 id is band summary*/
/*"section1" id is for card*/
/*"section1" id is for card*/
/* section 1 one headline id is id="summary">
/*section 2 id is top hits*/
/*section 2 id="section2"*/
/*header id is topHits*/
/*Section 2 image id topHitsImage*/
/*section 3  is tour cities tour dates*/
/*section 3 id="section3" */
/*section 3 id="tourDatesImage" */
/*section 3 header id="tourDates" */
